* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100vw;
  height: 100px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  height: 30px;
  width: 120px;
  padding-top: 10px;
  padding-bottom: 25px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: lightgray;
}

h1 {
  text-align: center;
  margin: 0;
}

.welcome-heading {
  font-size: 3rem;
  color: #333;
  margin-top: -200px;
}


.subheading {
  font-size: 2rem;
  color: #555;
  margin-top: 10px; 
}
  
.project-card-container { 
  display: flex;
  justify-content: space-between; 
  gap: 20px; 
  flex-wrap: wrap;
  justify-content: center; 
}
@keyframes fontChange {
  0% { font-family: 'Arial', sans-serif; }
  25% { font-family: 'Courier New', monospace; }
  50% { font-family: 'Georgia', serif; }
  75% { font-family: 'Verdana', sans-serif; }
  100% { font-family: 'Arial', sans-serif; }
}

.welcome-heading {
  font-size: 3rem;
  color: #333;
  margin-top: -200px;
  animation: fontChange 5s infinite;
}
.welcome-section {
  position: relative;
  text-align: center;
  color: white; 
  padding: 20px;
  background-image: url('welcome\ background.jpg'); 
  background-size: cover;
  background-position: center;
  height: 720px; 
  display: flex;
  align-items: center;
  justify-content: center;
  width:1000px;
}

  .welcome-paragraph {
    font-size: 20px;
    font-weight: bold;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
  }
  pre {
    text-align: center; 
  }
  
  .btn {
    display: inline-block; 
    margin: 0 auto;
    background-color: rgb(135, 211, 225);
    color: rgb(78, 74, 74);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: relative;
    right:410px;
  }
  
  .btn:hover {
    background-color: lightgray;
  }
  
